body {
	background-color: rgb(224, 224, 200);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
}

table, th, td {
	border: 1px solid black;
}

table {
	width:  60%;
	width: 100%;
	max-width: 100%;
}

td {
	padding: 5px;
}

h1 {
	text-align: center;
}

.weather-icon {
	width:  80px;
}

.arrow {
	width:  50px;
	height: 50px;
}

#map { 
	height: 720px;
	max-width: 600px;
}


.container {
	background-color: beige;
	display: flex;
	flex-direction: column;
	margin: 0; /* No margin by default */
}

.bottom {
	flex-direction: row;
}

.left, .right {
	flex: 1 1 100%; /* Full width by default */
	padding: 10px;
	box-sizing: border-box; /* Include padding in width calculation */
}

@media (min-width: 1400px) {
	.container {
		/* 1/6 margin on each side for PCs */
		margin: 0 16.67%;
	}
	
	.bottom {
		background-color: beige;
		display: flex;
		flex-wrap: column;
	}

	.left, .right {
		flex: 1 1 50%; /* Equal width on larger screens */
	}
}

